/*Movie List Admin,Movie List Customer,Edit Movie,Edit Movie Status,Movie List Customer (Add to Favorites success),Favorites,Favorites Empty,Remove Favorites*/
header{
	color:#f5f0f0;
	top:0%;
	background-color:#344a91;
	min-width:100%;
	position:fixed;
	left:0%;
	width:100%;
	height:6%;
}
/*Movie List Admin,Movie List Customer,Edit Movie,Edit Movie Status,Movie List Customer (Add to Favorites success),Favorites,Favorites Empty,Remove Favorites*/
header h1{
	   margin-left: 2%;
	   position:fixed;
	   margin-top:0.6%;
}
/*Movie List Admin,Movie List Customer,Edit Movie,Edit Movie Status,Movie List Customer (Add to Favorites success),Favorites,Favorites Empty,Remove Favorites*/
header img{
	     position:fixed;
	     margin-top:0.5%;
		 margin-left:13.5%;
}
/*Edit Movie Status,Movie List Customer (Add to Favorites success),Favorites,Favorites Empty,Remove Favorites*/
.p{
	color:#3b9c55;
}
/*Favorites Empty*/
#p{
	color:#bbbfbd;
}
/*Movie List Admin,Movie List Customer,Edit Movie,Edit Movie Status,Movie List Customer (Add to Favorites success),Favorites,Favorites Empty,Remove Favorites*/
body{
	 margin-left:3%;
	 top:8%;
     position:fixed;
}
/*Movie List Admin,Movie List Customer,Edit Movie,Edit Movie Status,Movie List Customer (Add to Favorites success),Favorites,Favorites Empty,Remove Favorites*/
footer{
	bottom:0%;
	background-color:#a3a39e;
	min-width:100%;
	position:fixed;
	left:0%;
	padding:10px;
} 
/*Movie List Admin,Movie List Customer,Edit Movie,Edit Movie Status,Movie List Customer (Add to Favorites success),Favorites,Favorites Empty,Remove Favorites*/
nav
{
	font-size:12px;
	margin-left: 85%;
	position:fixed;
	top:1.5%;
}/*Edit Movie Status,Favorites Empty*/
table {
	  margin:10%;
}
/*Movie List Admin,Movie List Customer,Edit Movie,Edit Movie Status,Movie List Customer (Add to Favorites success),Favorites,Favorites Empty,Remove Favorites*/
nav .movies{
	color:#f5f0f0;
	position:fixed;
    font-size:20px;
}
/*Movie List Customer,Movie List Customer (Add to Favorites success),Favorites,Favorites Empty,Remove Favorites*/
nav .favorites{
	color:#f5f0f0;
	position:fixed;
	margin-left:5.5%;
	font-size:20px;
}
/*Movie List Admin,Movie List Customer,Movie List Customer (Add to Favorites success),Favorites,Remove Favorites*/
.al-left{
	 text-align:left;
}
/*Movie List Admin,Movie List Customer,Movie List Customer (Add to Favorites success),Favorites,Remove Favorites*/
.al-right{
	text-align:right;
	width:25px;
}
/*Movie List Admin,Movie List Customer,Movie List Customer (Add to Favorites success),Favorites,Remove Favorites*/
.al-Mid{
	text-align:center;
	width:150px;
}
/*Movie List Admin,Movie List Customer,Edit Movie,Edit Movie Status,Movie List Customer (Add to Favorites success),Favorites,Favorites Empty,Remove Favorites*/
.header{
	margin-right:95%;
}
/*Edit Movie*/
span{
	 dispaly:inline-block;
}
/*Edit Movie*/
.padding{
	 padding-left:10px;
}
/*Edit Movie*/
.submit{
	background-color: #355487;
	color: #f5f0f0;
	height: 50px;
	width: 150px;
}
/*Edit Movie*/
.checkbox{
	padding-bottom:20px;
}
/*Favorites Empty*/
.movie-list{
	color:#1eaee3;
}